body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;

  background: greenyellow;
}

h1.title {
  color: white;
  text-align: center;
  font-size: 3rem;
}

div.project-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#content {
  background-color: lightblue;
  color: darkslategray;
}

.strikethrough {
  position: relative;
  opacity: 0.5;
}

.strikethrough::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid darkslategray;
  width: 100%;
}

.home-card {
  margin: 1rem;
  padding: 2rem;

  background-color: antiquewhite;
  border-radius: 0.5rem;
}

.home-card-title {
  margin: 1rem 0;
}

.td-div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.td-due-date {
  margin-left: auto;
}
